section, .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 100px;
    overflow: clip;
}
.section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}
.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.section-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #34b7a7;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.section-title p {
    margin-bottom: 0;
}
.contact .info-wrap {
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.contact .info-item {
    margin-bottom: 40px;
}
.contact .info-item h3 {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.contact .info-item i {
    font-size: 20px;
    color: #34b7a7;
    background: color-mix(in srgb, #34b7a7, transparent 92%);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}
.contact .php-email-form {
    background-color: #ffffff;
    height: 100%;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.php-email-form .loading {
    display: none;
    background: #ffffff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}
.php-email-form .error-message {
    display: none;
    background: #df1529;
    color: #ffffff;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}   
.php-email-form .sent-message {
    display: none;
    color: #ffffff;
    background: #059652;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}
.contact .php-email-form button[type=submit] {
    color: #ffffff;
    background: #34b7a7;
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;
}