.footer {
    color: #444444;
    background-color: #e9e8e6;
    font-size: 25px;
    padding: 40px 0;
    position: relative;
}
.light-background {
    --background-color: #e9e8e6;
    --surface-color: #ffffff;
}
.footer .copyright p {
    margin-bottom: 0;
}
.footer .social-links {
    margin-top: 20px 0px;
}
.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid color-mix(in srgb, #444444, transparent 50%);
    font-size: 16px;
    color: color-mix(in srgb, #444444, transparent 50%);
    margin: 0 5px;
    transition: 0.3s;
}