section, .portfolio_section {
    color: #444444;
    background-color: #ffffff;
    padding: 60px 0;
    scroll-margin-top: 100px;
    overflow: clip;
}
.services .service-item {
    background-color: #ffffff;
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}
.services .service-item .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}
.services .service-item .icon svg {
    position: absolute;
    top: 0;
    left: 0;
}
.services .service-item.item-cyan i {
    color: #0dcaf0;
}
.services .service-item .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
}
.services .service-item h3 {
    font-weight: 700;
    margin: 10px 0 15px 0;
    font-size: 22px;
}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}
.services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}